<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @posting_page.content %>
</p>

<%= link_to 'Edit', edit_posting_page_path(@posting_page) %> |
<%= link_to 'Back', posting_pages_path %>
